<template>
    <div class="article-list" >
        <h3>Create Article</h3>
            <form class="">
                <div class="form-action">
                    <input type="text" class="form-control" :judul="judul" v-model="judul" placeholder="Judul Article">
                    <textarea rows="10" class="form-control"
                        v-model="isi"
                        :isi="isi"
                        placeholder="Isi Article">
                    </textarea>
                    <button type="button" v-on:click="submit" class="btn btn-primary form-control">Submit</button>
                    <button type="button" v-on:click="cancel" class="btn btn-danger form-control">Cancel</button>

                </div>
            </form>
    </div>

</template>


<script>
    import BusEvent from '../../bus'
    import moment from 'moment'
    export default {
        data(){
            return{
                judul:'',
                isi:''
            }
        },methods:{
            submit(){
                let judulInput = this.judul.trim()
                let isiInput = this.isi.trim()
                if ((isiInput === '') && (judulInput==='') ) {
                    return
                }

                let newPost={
                    isi:isiInput,
                    judul:judulInput,
                    created_at:moment().utc(0).format('YYYY-MM-DD HH:mm:ss'),
                    user:Laravel.user
                }
                axios.post('/article/store',newPost).then(response =>{

                    newPost.slug=response.data.slug
                     BusEvent.$emit('create-article',newPost);
                     BusEvent.$emit('all-article');

                     this.judul = '',
                     this.isi = ''
                })
            },cancel(){
                BusEvent.$emit('all-article')
                this.judul = '',
                this.isi = ''
            }
        }

    }
</script>
<style media="screen">
    .form-control{
        margin-bottom: 10px;
    }
</style>
